%h1 どこからでもアクセス！

- if user_signed_in?
  = link_to "Sign out", destroy_user_session_path, :method => :delete

- else
  %br
  #signup
    = render 'form'
  または #{link_to 'ログイン', '', id: "showlogin"} する

  #dialog
    #errmsg

    = render 'loginform'



